<div class="userInformationContainer col-lg-offset-1">
    <h1>Персональная информация</h1>
    <div class="informContainer">
        <h2>Ф.И.О.</h2>
        <hr class="customLine" />
        <h3 class="in">@ViewBag.currentClient.Surname @ViewBag.currentClient.Name @ViewBag.currentClient.Patronymic</h3> 
    </div>   
    <div class="informContainer">
        <h2>E-mail</h2>
        <hr class="customLine" />
        <h3>@ViewBag.currentAppClient.Email</h3>
    </div>      
    <div class="informContainer">
        <h2>Номер телефона</h2>
        <hr class="customLine" />
        <h3>@ViewBag.currentAppClient.ClientPhoneNumber</h3>
    </div>      
</div>
